#footer{
  background: #222222;
  border-radius: 0 0 5px 5px;
  padding-bottom: .1%;
  &:focus{
    outline: none;
  }
  .icons{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    .icon{
      display: inline-block;
      padding: 25px 10px;
      i{
        color: rgba(255,255,255, .6);
        transition: all .5s ease-in-out;
        &:hover{
          color: white;
        }
      }
    }
  }
  .container{
    .row{
      .copyright{
        text-align: center;
        margin: 0 auto;
        color: rgba(255,255,255, .6);
        font-weight: 600;
        font-size: 0.9em;
        padding-bottom: 2%;
      }
    }
  }
}
